:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width:1440px) {
  .container {
   padding-left: 5rem;
   padding-right: 7rem;
  }

}

@media screen and (max-width:1200px){
  
  .container {
    padding-left: 4rem;
    padding-right: 6rem;
   }
   
}
@media screen and  (max-width:992px){
  
  .container {
    padding-left: 2rem;
    padding-right: 3.5rem;
   }


}
@media screen and (max-width:768px){
  .container {
    padding-left: 1.5rem;
    padding-right: 2.5rem;
    
   }
 

}
@media screen and (max-width:576px){
 
  .container {
    padding-left: 0.75rem;
    padding-right: 1.25rem;
   }
}


.custom_loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: (-50%, -50%);
}